@model IEnumerable<FirstPractice.Models.Categories>
@*上面這一段是宣告Controller傳過來的資料類型*@
@{
    ViewBag.Title = "產品分類資料";
}

<h2>產品分類資料</h2>
<a href="/Category/Add">新增分類</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>分類編號</th>
            <th>分類名稱</th>
            <th>描述</th>
            <th>編輯</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody>
        @*Model是一個保留字，代表Controller傳過來的資料*@
        @*但是Model是什麼類型的資料，我們不知道?如果要知道Model是什麼類型的資料，要看最上面的宣告*@
        @foreach (var _category in Model)
        {
            <tr>
                <td>@_category.CategoryID</td>
                <td>@_category.CategoryName</td>
                <td>@_category.Description</td>
                <td><a href="/Category/Edit/@_category.CategoryID">編輯</a></td>
                <td><a href="/Category/Delete/@_category.CategoryID">刪除</a></td>
            </tr>
        }
    </tbody>
</table>

